### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Count the # of unique SN
player_count = purchase_data["SN"].nunique()

# Save as a Data Frame
player_count = pd.DataFrame({"Player Count":[player_count]})
player_count

   Player Count
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Count the # of unique item
item_count = purchase_data["Item ID"].nunique()

# Caluculate the average price 
average_price = purchase_data["Price"].mean()

# Count the # of all purchases using Purchase ID
purchase_count = purchase_data["Purchase ID"].count()

# Caluculate the total revenue by adding all prices
total_revenue = purchase_data["Price"].sum()

# Create a purchase summary data frame and use caluculated items
purchasing_summary = pd.DataFrame({"Number of Unique Items":[item_count],
                                    "Average Price":[average_price],
                                    "Number of Purchases": [purchase_count],
                                    "Total Revenue" : [total_revenue]})

# Change format to currency
purchasing_summary[["Average Price","Total Revenue"]] = purchasing_summary[["Average Price","Total Revenue"]].applymap("${:.2f}".format)

#Show the summary in Jupyter notebook
purchasing_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# To get the unique # of players(SN), remove duplicates
sn_unique = purchase_data.drop_duplicates(subset = "SN")

# Count unique # of male, female and other players
gender_count = sn_unique["Gender"].value_counts()

# Caluculate percentage of male, female and other player
gender_percentage = gender_count / sn_unique["Gender"].count() * 100

# Create gender summary data frame 
gender_summary_df = pd.DataFrame({"Total Count": gender_count,
                                  "Percentage of Players" : gender_percentage})

# Change format to percentage
gender_summary_df["Percentage of Players"] = gender_summary_df["Percentage of Players"].map("{0:.2f}%".format)

# Show the summary in Jupyter notebook
gender_summary_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Count # of purchases by gender (use purchase_data df to get the )
purchase_count = purchase_data["Gender"].value_counts()

# Caluculate average price spent by all purchase ID
average_price = purchase_data.groupby("Gender")["Price"].mean()

# Caluculate avearage total price spent by person
total_price = purchase_data.groupby("Gender")["Price"].sum()

# Caluculate aveage price spent by person 
average_total = total_price / gender_count

# Create purchase summary data frame
purchase_summary_df = pd.DataFrame({"Purchase Count": purchase_count,
                                    "Average Purchase Price" : average_price,
                                    "Total Purchase Value": total_price,
                                    "Avg Total Purchase per Person" : average_total})

# Change format to currency
purchase_summary_df[["Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]] = purchase_summary_df[["Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]].applymap("${:.2f}".format)

# Change the 
purchase_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [10]:
# Establish bins for ages and age group(label)
bins = [0,9,14,19,24,29,34,39,100]
age_group = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# Categorize the existing players using the age bins. 
sn_unique["Purchasing Data Summary"] = pd.cut(sn_unique["Age"], bins, labels = age_group)

# Count # of purchase by age
purchase_count_age = sn_unique["Purchasing Data Summary"].value_counts()

# Caluculate percent of players by age
percentage_player_age = (purchase_count_age / sn_unique["SN"].count()) * 100

# Create age summary
age_summary_df = pd.DataFrame({"Total Count" : purchase_count_age,
                               "Percentage of Players" : percentage_player_age})

# Sort by index 
age_summary_df = age_summary_df.sort_index()

# Change the format to percentage
age_summary_df["Percentage of Players"] = age_summary_df["Percentage of Players"].map("{:.2f}%".format)

# Show the summary result in Jupyter notebook
age_summary_df

C:\Users\dudiw\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# Categorize the existing players using the age bins. 
purchase_data["Purchasing Data Summary"] = pd.cut(purchase_data["Age"], bins, labels = age_group)
purchase_age_count = purchase_data["Purchasing Data Summary"].value_counts()

# Calculate average purchase price by age
average_price_age = purchase_data.groupby("Purchasing Data Summary")
average_price_age = average_price_age["Price"].mean()

# Calculate total purchase value by age
total_purchase_age = average_price_age["Price"].sum()

# Calculate average total purchase per person
average_purchase_age = total_purchase_age / purchase_count_age

#  Create summary
age_purchase_summary = pd.DataFrame({"Purchase Count" : purchase_age_count,
                                     #"Average Purchase Price" : average_price
                                     "Total Purchase Value" : total_purchase_age,
                                     "Avg Total Purchase per Person" : average_purchase_age})
age_purchase_summary

KeyError: 'Price'

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame